@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@500&display=swap');

body {
    background-color: #e4e4e4;
    margin: 0;
}

.Slide {
    height: 100vh;
    width: 100vw;
}

#page1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: 'Lexend', sans-serif;
    font-size: 8vw;
    img {
        height: 30vw;
    }
    ._Head {
        width: 90vw;
        display: flex;
        justify-content: space-between;
    }
    ._Footer {
        width: 90vw;
        display: flex;
        justify-content: space-between;
    }
}
#page2 {
    background-color: black;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}